body {
	text-align: center;
	font-family: "HelveticaNeue", "STHeitiTC-Light", Helvetica, Arial, sans-serif;
}
a {
	color: #000;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
a:hover {
	color: #000;
	text-decoration: none;
}
#main {
	max-width:1000px;
	min-width: 800px;
	width: 90%;
	margin: 0 auto;
}
.col-sm-3.p-0, .col-sm-6.p-0, .col-sm-9.p-0, .col-sm-12.p-0 {
	padding: 0;
}
.clear {
	clear: both;
}
#header {
	height: 40px;
	margin:20px 0 30px 0;
}
.header-logo {
	font-size: 24px;
	color: #400090;
}
.header-right {
	height: 40px;
}
.header-search {
	width: 200px;
	font-size: 12px;
	margin: 5px 15px 5px 0;
	float: right;
}
.header-user {
	float: right;
	display: inline-block;
}
.header-user-avatar {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 6px;
	vertical-align: top;
}
.header-user-avatar img{
	width: 100%;
	height: 100%;
}
.header-user-setting {
	font-size: 12px;
	padding: 14px 0;
}
#popular {
	margin-bottom: 20px;
} 
.popular-title {
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
	font-size: 20px;
	color: #400090;
}
.popular-left, .popular-right {
	padding: 0;
}
.popular-left-image, .popular-right-image {
	height: 400px;
}
.popular-image {
	height: 100%;
	background-color: #ccc;		
}
.popular-image-wrap {
	height: 100%;
	width: 100%;	
	overflow: hidden;
}
.popular-right-top, .popular-right-bottom {
	height: 50%;
}
.popular-right-top {
	padding-bottom: 5px;
}
.popular-right-bottom {
	padding-top: 5px;
}
.popular-left {
	padding-right: 10px !important;
}
.carousel.slide, .carousel-inner {
	height: 100%;
	width: 100%;
}
#category {
	padding-right: 40px;
	margin-top: 20px;
	text-align: left;
	font-size: 12px;
}
.category-name:first-child {
	margin-top: 0;
}
.category-name {
	border-bottom: 1px #ccc solid;
	margin: 15px 0;
	font-size: 18px;
	vertical-align: middle;
}
.category-name-text, .category-name-more {
	display: inline-block;
	margin-left: 8px;
}
.category-name-more {
	float: right;
	font-size:12px;
	padding: 3px 0;
}
.category-name-more-icon {
	margin-left: 5px;
}
.category-item {
	margin-bottom: 15px;
}
.category-item:nth-child(odd) {
	padding-right: 5px;
}
.category-item:nth-child(even) {
	padding-left: 5px;
}
.category-item:last-child {
	margin-bottom: 40px;
}
.category-image {
	height: 120px;
	background-color: #ccc;
	overflow: hidden;
}
.category-text {
	height: 120px;
	padding-left: 10px !important;
}
.category-title-wrapper {
	height: 40%;
}
.category-summary {
	height: 60%;
	overflow: hidden;
  	text-overflow: ellipsis;
  	line-height: 1.5;
}
.category-title {
	font-size: 16px;
}
.category-view, .category-like {
	margin-right: 10px;
	color: #888;
}
.category-icon {
	margin-right: 5px;
}

#promotion {
	width: 100%;
	margin-top: 20px;
	text-align: left;
}
.popularsearch-title, .certificated-title {
	font-size: 16px;
	margin-bottom: 10px;
}
.popularsearch-content, .certificated-content {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}
.fz-12 {font-size: 12px;}
.fz-14 {font-size: 14px;}
.fz-16 {font-size: 16px;}
.fz-18 {font-size: 18px;}
.fz-20 {font-size: 20px;}
.fz-22 {font-size: 22px;}
.fz-24 {font-size: 24px;}
.fz-26 {font-size: 26px;}
.fz-28 {font-size: 28px;}
.tag {
	display: inline-block;
	color: #0088ff;
}
.ad {
	width: 100%;
	height: 150px;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: #ccc;
}
#article {
	padding-right: 40px;
}
.article .article-banner {
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-color: #aaa;
	border-bottom-style: solid;
	position: relative;
}

.article .article-banner-left {
	text-align: left;
}
.article .article-banner-left .big-class {
	font-size: 20px;
	display: inline-block;
	margin-right: 10px;
}
.article .article-banner-left .small-class {
	margin-left: 10px;
	font-size: 15px;
	line-height: 28px;
	display: inline-block;
}
.article .article-banner-left .big-class-text {
	padding-left: 10px;
	display: inline-block;
}
.article .main-image-container {
	width: 100%;
	margin-top: 10px;
}
.article-banner-right {
	position: absolute;
	right: 0;
	top: 5px;
}
.article-banner-right .left-thumb {
	color: green;
	margin-right: 10px;
	display: inline-block;
}
.article-banner-right .glyphicon {
	margin-right: 5px;
}
.article-banner-right .right-thumb {
	display: inline-block;
}